

/*nav*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html{
    background-color: #f2f2f3; 
    scroll-behavior: smooth;
}

section nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
     /* box-shadow: 0 0 10px ; */
    background: #B4CFEC;
    position: fixed;
    top: 20;
    left: 0;
    right: 0;
    z-index: 100;
}

section nav .logo{
    font-size: 30px;
    color: #000080;
    margin: 5px 0;
    cursor: pointer;
    position: relative;
    left: -4%;
}

section nav .logo span{
    color: #4169E1;
    text-decoration: underline;
}

section nav ul{
    list-style: none;
}

section nav ul li{

    display: inline-block;
    margin: 0px 10px;
}

section nav ul li a{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

section nav ul li a:hover{
    color:   #4169E1;
}
section .main .main_content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* ------icons--------- */




.icon i{
    right: -10%;
    padding: 10px;
    font-size: 25px;
    color: #000080;
    cursor: pointer; 

}
.icon i:hover{
    color: #306ae0;
}
.search-form{
    position: absolute;
    top: 100%;
    left: 900px; ;
    right: 0;
    display: flex;
    align-items: right;
    z-index: 1001;
    padding: 15px 20px; 
    border-top: .1rem solid rgba(255,255,255,.2);
    clip-path: polygon(0 0,100% 0,100% 0,0 0);
}
.search-form.active{
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
}

.search-form #search-bar{
    width: 50%;
    padding: 10px;
    color: #333;
    font-size: 10pxpx;
    border-radius: 5px;
}

#menu-bar{
    color: aliceblue;
    border: 1px;
    border-radius: .5rem;
    font-size: 3rem;
    padding: 12px;
    cursor: pointer;
    display: none;
}





.L-A {
    color: #000080; 
    font-size:55px;
    text-align: center;
    padding: 5%;
    direction: rtl;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


#course-inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

#course-inner .overview{
    width: 100%;
}


.button{ 
    background-color: #4169E1;
    font-size: 35px;
    float: right;
    width:12%;
    margin:2% ;
    color: #ffffff;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}

.button:hover {
    font-size:45px;
}

#course-inner .overview .course-img {
    width: 20%;
    height: 20%;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
    float:right; 
}

#course-inner .overview .course-head{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#course-inner .overview .course-head .c-name{
 width: 100%;
 float: right;
}

#course-inner .overview .course-head .c-name .img-head {
    color: #000080;
    font-size: 40px;
    direction: rtl;
    width: 100%;
    padding: 2%;
    margin: -1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#course-inner .overview .course-head .c-name p{
    font-size: 25px;
    color: #4169E1;
    direction: rtl;
    width: 96%;
    font-family: 'Courier New', Courier, monospace;

}

#course-inner .overview .overview-head{
    font-size: 35px;
    direction: rtl;
    color: #000080;
    padding: 1%;
}

.e{
    font-size: 20px;
    list-style-position: outside;
    direction: rtl;
    color: #4169E1;
    width: 96%;
}

.i{

    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}





/*footer*/



footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #B4CFEC;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #000080;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: 4169E1;
}

/*  links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #63686c;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    
    color: #000080;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #000080;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #63686c;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color:  #000080;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: linear-gradient( #000080, #4169E1);
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color:black; 
}

.footer-links a:hover {
    color: black;
}